body{
    background-color: aliceblue;
    justify-content: center;
    text-align: center;
    margin: 1%;
    
}
#frame{
    border:  5px solid black;
    border-radius: 40px;
    background-color: rgb(177, 241, 113);
    margin: 50px;
}
#result{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: blue;
   
}
#footer{
    margin-top: 250px;
}
